<main class="main bg-gradient-gray-white">

  <!--HOME Hero image INICIO-->
  <section id="Home carousel Hero">
    <div id="carouselHomeCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
        ></button>
        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="1" aria-label="Slide 2"
        ></button>
        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="2" aria-label="Slide 3"
        ></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
          <img src="/images/hero-images-1b.png" class="d-block w-100" alt="hero-images-1"/>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="/images/hero-images-2b.png" class="d-block w-100" alt="hero-images-2"/>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="/images/hero-images-3b.png" class="d-block w-100" alt="hero-images-3"/>
        </div>
      </div>

      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselHomeCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselHomeCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!--HOME Hero image FIN-->

  <!--HOME Container INICIO-->
  <div class="container">
    <section id="Home Container" class="row align-items-md-center mb-5">

      <article class="col-12 col-lg-5">
        <h2>Do you need a marketing strategy?</h2>
        <p class="fs-5"> Get more traffic. Acquire more customers. Grow yours Sales in 2023. We
          work for businesses of all sizes.
        </p>
        <a class="btn btn-primary btn-lg rounded-5" href="/marketing" role="button">Learn more</a>
      </article>

      <article class="col-12 col-lg-7">
        <img class="img-fluid pt-5" src="/images/header-mkt.png"
         width="90%" alt="header-marketing"/>
      </article>

      <article class="col-12 col-lg-5 order-lg-1">
        <h2>Mobile-Friendly Websites</h2>
        <p class="lead">Online presence involves creating a website whith:
          <em> Readability, Usability, Speed, Responsive design, Clear
            Call-to-Action, Simple mobile-Navigation, and Usable Forms
          </em>to makes the sales process easy.
        </p>
        <a class="btn btn-primary btn-lg rounded-5" href="/webDevelopment#webDevelopment"
          role="button">Learn more</a>
      </article>

      <article class="col-12 col-lg-7">
        <img class="img-fluid"src="/images/header-image.png"
         width="80%" alt="Mobile-Friendly Websites"/>
      </article>
    </section>
    <!--HOME Container FIN-->

  <!--HOME CARDS SLIDER SERVICIOS INICIO-->
  <article id="card-servicios">
    <section class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="cards swiper-slide 1">
          <div class="cards-image">
            <img src="images/icon.marketing.png" alt="Digital Marketing"/>
          </div>
          <div class="cards-content">
            <span class="cards-title">Digital Marketing</span>
            <p class="card-text">20+ years of experience delivering results for
              businesses of all sizes.</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5" href="/marketing" role="button">LEARN MORE...</a>
          </div>
        </div>

        <div class="cards swiper-slide 2">
          <div class="cards-image">
            <img src="/images/icon-social-media-management.png" alt="Social strategy"/>
          </div>
          <div class="cards-content">
            <span class="cards-title">Social strategy</span>
            <p class="card-text">15+ years improving effective customer engagement strategies.</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5"
              href="/socialMedia" role="button">LEARN MORE...</a>
          </div>
        </div>

        <div class="cards swiper-slide 3">
          <div class="cards-image">
            <img src="/images/icon-e-commerce.png" alt="E-commerce" />
          </div>
          <div class="cards-content">
            <span class="cards-title">E-commerce</span>
            <p class="card-text">Combining data + BI to reach the right audience for your goal</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5" 
               href="/webDevelopment#eCommerce" role="button">LEARN MORE...</a>
          </div>
        </div>

        <div class="cards swiper-slide 4">
          <div class="cards-image">
            <img src="/images/icon-web-development.png" alt="web development"/>
          </div>
          <div class="cards-content">
            <span class="cards-title">Web development</span>
            <p class="card-text">We offer the finest tailor website to your
              specific business goals.</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5" 
               href="/webDevelopment#webDevelopment" role="button">LEARN MORE...</a>
          </div>
        </div>

        <div class="cards swiper-slide 5">
          <div class="cards-image">
            <img src="/images/paid-social-advertising.png" alt="social media management"/>
          </div>
          <div class="cards-content">
            <span class="cards-title">Social advertising</span>
            <p class="card-text">We lead, execute and evaluate the performance of social advertising.</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5" 
               href="/marketing" role="button">LEARN MORE...</a>
          </div>
        </div>

        <div class="cards swiper-slide 5">
          <div class="cards-image">
            <img src="/images/seo-optimization-search-engine-optimization.png" alt="Search engine optimization"/>
          </div>
          <div class="cards-content">
            <span class="cards-title">SEO</span>
            <p class="card-text">We understand SEO tactics, techniques, and strategies for success.</p>
            <a class="card-btn btn btn-primary btn-lg rounded-5" 
               href="/marketing" role="button">LEARN MORE...</a>
          </div>
        </div>

      </div>
    </section>
  </article>
  <!--HOME CARDS SERVICIOS FIN-->

<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", { 
      effect: "coverflow", 
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: false,
      },
    pagination: { 
      el: ".swiper-pagination",
    },
  });
  </script>

</main>